body {
  margin: 5%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.buttomPlus {
  background-color: green;
  width: 100px;
  height: 100px;
}

.bigSquare {
  display: flex;
  width: 300px;
  height: 300px;
  background: rgb(245, 150, 150);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.buttomMinus {
  background-color: yellowgreen;
  width: 100px;
  height: 100px;
}

.buttomNull {
  background-color: red;
  width: 100px;
  height: 100px;
}

.buttomPlusI {
  width: 50px;
  height: 50px;
}

.buttomSquare {
  display: flex;
  align-items: flex-end;
}

.numeroSquare {
  font-size: 700%;
}
